<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Navigation Bar">
    <meta name="keywords" content="HTML, CSS, JavaScript, Django, Python">
    <meta name="author" content="Towett John">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="shortcut icon" href="../static/icons/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title></title>
</head>
<body>
<article>
    <nav class="navbar">
        <div class="topnav" id="myTopnav">
            <a href="{% url 'index' %}" id="logo" >
                TOWETT
            </a>
            <a href="{% url 'profile' %}">My Profile</a>
            <a href="{% url 'portfolio' %}">Portfolio</a>
{#            <a href="{% url 'blogs' %}">Blogs</a>#}
            <a href="{% url 'contact-me' %}">Contact Me</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </nav>
</article>
</body>
</html>